---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import SiteLayout from './SiteLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, category } = Astro.props;
---

<SiteLayout {title} {description} image={heroImage}>
  <article class="space-y-10">
    <header class="space-y-4">
      <a href="/blog" class="block font-mono text-xs text-(--text-secondary) transition-colors duration-200 hover:text-(--accent)">
        > back to posts
      </a>
      {
        description && (
          <span class="font-mono text-xs tracking-widest text-(--text-secondary)">
            {description}
          </span>
        )
      }

      <h1 class="text-4xl pb-2 border-b border-secondary">{title}</h1>

      <div class="flex flex-wrap items-center gap-4 font-mono text-xs text-(--text-secondary)">
        <span class="flex items-center gap-2">
          <FormattedDate date={pubDate} />
        </span>
        {
          updatedDate && (
            <span class="italic">
              // updated <FormattedDate date={updatedDate} />
            </span>
          )
        }
        {
          category && category.length > 0 && (
            <div class="ms-auto flex flex-wrap gap-3">
              {category.map((cat) => (
                <a
                  href={`/blog/category/${cat}`}
                  class="no-underline transition-colors duration-200 hover:text-(--accent)"
                >
                  #{cat}
                </a>
              ))}
            </div>
          )
        }
      </div>
    </header>

    {
      heroImage && (
        <div class="w-full">
          <Image width={1020} height={510} src={heroImage} alt="" class="w-full" />
        </div>
      )
    }

    <div class="prose dark:prose-invert max-w-none">
      <slot />
    </div>

    <footer
      class="border-t border-(--text-secondary) pt-6 font-mono text-xs text-(--text-secondary)"
    >
      <a href="/blog" class="transition-colors duration-200 hover:text-(--accent)">
        > back to posts
      </a>
    </footer>
  </article>
</SiteLayout>
