---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '@components/FormattedDate.astro'
import SiteLayout from './SiteLayout.astro'
import ImageLightbox from '@components/ImageLightbox.astro'
import ReadingTime from '@components/ReadingTime.astro'
import { categoryHref, tagHref } from '@/consts'
type Props = CollectionEntry<'blog'>['data'] & { body?: string }
const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  heroImageAlt,
  category,
  tags,
  body,
} = Astro.props
---

<SiteLayout
  {title}
  {description}
  image={heroImage}
>
  <ImageLightbox />
  <article class="space-y-10 page-container py-12">
    <header class="space-y-6">
      {
        category && (
          <div class="font-mono text-xs text-(--text-secondary)">
            cat:
            <a
              href={categoryHref(category)}
              class="underline transition-colors duration-200 hover:text-(--accent)"
            >
              {category}
            </a>
          </div>
        )
      }
      <h1 class="text-4xl">{title}</h1>
      {
        description && (
          <span class="text-secondary block font-mono text-xs leading-normal italic">
            {description}
          </span>
        )
      }
      <div
        class="border-secondary flex flex-col gap-1 border-t pt-6 font-mono text-xs text-(--text-secondary)"
      >
        <FormattedDate date={pubDate} />
        <ReadingTime body={body ?? ''} />
        {
          updatedDate && (
            <span class="italic mt-2">
              updated <FormattedDate date={updatedDate} />
            </span>
          )
        }
      </div>
    </header>
    {
      heroImage && (
        <div class="w-full">
          <Image
            width={2040}
            height={1020}
            quality={100}
            src={heroImage}
            alt={heroImageAlt ?? title}
            class="rounded-md"
          />
        </div>
      )
    }
    <div class="prose dark:prose-invert max-w-none">
      <slot />
    </div>

    <footer class="space-y-6 font-mono text-xs text-(--text-secondary)">
      {
        tags && tags.length > 0 && (
          <div class="flex flex-wrap gap-4">
            {tags.map((tag) => (
              <a
                href={tagHref(tag)}
                class="text-text-secondary/50 no-underline transition-colors duration-200 hover:text-(--accent)"
              >
                #{tag}
              </a>
            ))}
          </div>
        )
      }
      <div class="border-secondary border-t pt-6">
        <a
          href="/blog"
          class="transition-colors duration-200 hover:text-(--accent)"
        >
          &lt; back to posts
        </a>
      </div>
    </footer>
  </article>
</SiteLayout>
